{% extends 'base.html' %}
{% load menu_tags %}

{% block title %}
    Test Task - Index Page
{% endblock %}


{% block menu %}
    <div>
        <h1 class="page-title">TEST TASK - MENU</h1>
        {% if menu %}
            {% draw_menu 'main_menu' %}
        {% else %}
            <p>Меню не найдено.</p>
        {% endif %}
    </div>

{% endblock %}

{% block content %}
    <div>
        <h1 class="page-title">TEST TASK - PAGE CONTENT</h1>
        {% if item %}
            <p>Selected category: {{ item }}</p>
        {% endif %}

    </div>
{% endblock %}